@font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/PatrickHand.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.showsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; 
}

.card {
    height: 370px;
    width: 465px;
    background: linear-gradient(145deg, #1F1F1F, #2A2A2A);
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    color: white;
    margin: 50px 50px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.card img {
    height: 100%;
    border-radius: 7px;
}

.content h3 {
    margin-bottom: 35px;
    font-size: 20px;
}

.content > div {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.rating{
    position: relative;
    margin-left: 25px;
}

.rating::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #ffd700;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
  );
  position: absolute;
  left: -25px;
  top: 1px;
}

.content  p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.content > p:nth-of-type(1) {
    margin-bottom: 10px;
}

.progressionBar {
    position: absolute;
    height: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6F581A;
}

.delete {
    position: absolute;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    top: 5px;
    right: 5px;
}
