@font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/PatrickHand.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.title{
  font-family: "Patrick Hand";
  font-size: 4rem;
  text-align: center;
}
.showsDiv {
  display: flex;
  min-height: 650px;
  flex-wrap: wrap;
  gap: 5rem; 
  padding: 5rem;
  justify-content: center;
}

.card {
    height: 370px;
    width: 465px;
    background: linear-gradient(145deg, #1F1F1F, #2A2A2A);
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    color: white;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.card img {
    height: 100%;
    max-width: 242px;
    border-radius: 7px;
    cursor: pointer;
    object-fit: cover;
}

.card img:hover {
    filter: contrast(1.1);
    transition: all 0.1s ease-in;
}

.content h3 {
    margin-bottom: 35px;
    font-size: 20px;
    cursor: pointer;
}

.content h3:hover {
    opacity: 0.8;
    transition: all 0.1s ease-in;
}

.content > div {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.rating{
    position: relative;
    margin-left: 25px;
}

.rating::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #ffd700;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
  );
  position: absolute;
  left: -25px;
  top: 1px;
}

.content  p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.content > p:nth-of-type(1) {
    margin-bottom: 10px;
}

.progressionBar {
  position: absolute;
  height: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6F581A; /* culoarea de fundal */
  overflow: hidden;
}

.progressFill {
  height: 100%;
  transition: width 0.3s ease;
}


.delete {
    position: absolute;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    top: 5px;
    right: 5px;
}

.section {
  background-color: #2A302F;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-top: 20px;
}

.section h2 {
  font-family: "Patrick Hand";
  font-size: 7rem;
  color: #D9AF28;
}

.section span {
  font-family: "Patrick Hand";
  font-size: 7rem;
  margin-left: 1rem;
  color: white;
}

.loadingContainer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.303);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: white;
  font-weight: 500;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


