.episodes-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 75px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.carousel-div {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  max-width: 100%; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  padding: 0 43px;
  height: 150px;
}

.episode-info {
  position: relative;
  display: inline-block;
}

.episode-info img {
  height: 150px;
  border-radius: 6px;
}

.episode-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
}

.carousel-div::-webkit-scrollbar { 
  display: none; 
}


.arrow {
  position: absolute;
  height: 100%;
  padding: 0 15px;
  background: #222;
  color: #999999;
  border: none;
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  z-index: 2;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrow:hover {
  background: #444;
  color: white;
}
