
.episodes-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 75px;

  & h2 {
    font-size: 32px;
    margin: 15px 0px;
    font-weight: 600;
  }
}

.select-wrapper {
  position: relative;
  width: 140px;
  

  & select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
  }

  & select:focus { 
    outline: none; 
    box-shadow: none; 
    border: none;
  }

  & select option {
    font-size: 16px;
    font-weight: 550;
  }

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    width: 22px;
    height: 22px;

    background-image: url("../../../assets/dropdown-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.wrapper {
  display: flex;
  gap: 10px;
  position: relative;
}

.carousel-div {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 10px;
  max-width: 100%; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  padding: 0 43px;
  height: 150px;
}

.episode-info {
  position: relative;
  display: inline-block;
}

.episode-info::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  pointer-events: none;
  z-index: 1;
}

.episode-info img {
  position: relative;
  height: 150px;
  min-width: 267.84px;
  border-radius: 6px;
  z-index: 0;
  object-fit: cover;
  object-position: top;
  user-select: none; 
  pointer-events: none;
}

.episode-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  padding: 16px;
  color: white;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  z-index: 2;
}

.episode-overlay p:first-of-type {
  margin: 0;
  font-size: 22px;
}

.episode-overlay h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  white-space: normal;
  word-wrap: break-word;
}

.episode-overlay p:last-of-type {
  margin: 0;
  font-size: 14px;
}


.carousel-div::-webkit-scrollbar { 
  display: none; 
}


.arrow {
  position: absolute;
  height: 100%;
  padding: 0 15px;
  background: #222;
  color: #999999;
  border: none;
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  z-index: 4;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrow:hover {
  background: #444;
  color: white;
}
