.show-info {
  position: relative;
  height: 450px;
  display: flex;
  justify-content: space-between;
  padding: 50px 95px 0px 75px;
  gap: 50px;
  color: white;
  background-image: var(--bg-image); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.show-info::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65); 
  z-index: 1;
}


.show-info::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 40%,     
    rgba(0, 0, 0, 0.6) 100%    
  );
  z-index: 1;
}


/* Ca textul să fie deasupra overlay-ului */
.show-info > * {
  position: relative;
  z-index: 2;
}

.imgTxt {
  display: flex;
  gap: 5rem;
}

.showImg {
  height: 290px;
  border-radius: 7px;
}

.show-data {
  max-width: 650px;
}

.show-data h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.show-data p {
  margin: 0;
}

.show-data p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.show-data p:nth-of-type(3) {
  font-size: 11px;
  font-weight: 400;
}
  /*-------READ MORE, BARA SCROLL --------------
  .show-data .show-summary{}*/
.show-data .show-summary p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-height: 170px;
  overflow-y: auto;
}

.watchlistBtnDiv{
  margin-top: 115px;
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.watchlistBtn {
  height: 45px;
  width: 280px;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.watchlistBtn:hover {
   background: white;
   color: black;
}

.seenBtn {
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;
  padding-right:120px;
  color: white;
  font-weight: 500;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 985px) {
  .show-info {
    flex-direction: column;
    height: fit-content;
  }

  .watchlistBtnDiv {
    margin-top: 0;
  }
}

@media (max-width: 660px) {
  .imgTxt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .showImg {
    order: 1;
    width: 100%;
    max-width: 250px;
  }

  .show-data {
    order: 2;
    width: 100%;
  }

  .show-summary {
    order: 3;
    width: 100%;
    margin-top: 1rem;
  }
}





