.show-info {
  position: relative;
  height: 450px;
  display: flex;
  padding: 50px 95px 0px 75px;
  gap: 50px;
  color: white;
  background-image: var(--bg-image); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.show-info::after {
  content: "";
  position: absolute;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  background: rgba(0, 0, 0, 0.65); /* overlay negru semi-transparent */
  z-index: 1;
}

/* Overlay cu vignette */
.show-info::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none; /* să nu blocheze click-urile */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 40%,      /* centru transparent */
    rgba(0, 0, 0, 0.6) 100%    /* margini întunecate */
  );
  z-index: 1;
}


/* Ca textul să fie deasupra overlay-ului */
.show-info > * {
  position: relative;
  z-index: 2;
}


.showImg {
  height: 290px;
  border-radius: 7px;
}

.show-data {
  max-width: 650px;
}

.show-data h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.show-data p {
  margin: 0;
}

.show-data p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.show-data p:nth-of-type(3) {
  font-size: 11px;
  font-weight: 400;
}
  /*-------READ MORE, BARA SCROLL --------------
  .show-data .show-summary{}*/
.show-data .show-summary p{
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  max-height: 180px;
}

.watchlistBtnDiv{
  margin-top: 115px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.watchlistBtn {
  height: 45px;
  width: 280px;
  background: none;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 2rem;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

.watchlistBtn:hover {
  background-color: white;
  color: black;
}

.seenBtn {
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

