.show-info {
  position: relative;
  height: 450px;
  display: grid;
  grid-template-columns: 206px 3fr 1fr;
  grid-template-rows: 160px 1fr 1fr;
  column-gap: 50px;
  padding: 50px 95px 0px 75px;
  color: white;
  background-image: var(--bg-image); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.show-info::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65); 
  z-index: 1;
}


.show-info::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 40%,     
    rgba(0, 0, 0, 0.6) 100%    
  );
  z-index: 1;
}


/* Ca textul să fie deasupra overlay-ului */
.show-info > * {
  position: relative;
  z-index: 2;
}


.showImg {
  height: 290px;
  width: 206px;
  border-radius: 7px;
  grid-column: 1 / 2 ;
  grid-row: 1 / 2;
}

.show-data {
  max-width: 650px;
  grid-column: 2 / 3;
  grid-row: 1 / 2
}

.show-data h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.show-data p {
  margin: 0;
}

.show-data p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.show-data p:nth-of-type(3) {
  font-size: 11px;
  font-weight: 400;
}

 .show-summary {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-height: 210px;
  max-width: 720px;
  overflow-y: auto;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.watchlistBtnDiv{
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.watchlistBtn {
  height: 45px;
  width: 280px;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.watchlistBtn:hover {
   background: white;
   color: black;
}

.seenBtn {
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;
  padding-right:120px;
  color: white;
  font-weight: 500;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1060px) {
  .show-info {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 95px 200px 1fr;
    column-gap: 2rem;
    height: fit-content;
    padding:2.5rem;
 
   }
   .showImg {
    height: 206px;
    width: 140px;
   }

   .show-data h2{
    font-size: 24px;
   }

   .show-data p {
    margin: 0;
    font-size: 16px;
   }

   .show-data > p:nth-of-type(2) {
    display: none;
   }

   .show-summary {
    grid-column: 2 / 4;
    max-height: 170px;
   }

   .watchlistBtnDiv {
    margin-top: 0;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
   }
}

@media (max-width: 620px) {
  .show-info {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 215px 200px 1fr;
    column-gap: 2rem;
    height: fit-content;
    padding:2.5rem;
 
   }
   .showImg {
    height: 206px;
    width: 140px;
   }

   .show-data h2{
    font-size: 24px;
   }

   .show-data p {
    margin: 0;
    font-size: 16px;
   }

   .show-data > p:nth-of-type(2) {
    display: none;
   }

   .show-summary {
    grid-column: 1 / 4;
    max-height: 170px;
   }

   .watchlistBtnDiv {
    margin-top: 0;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
   }
}





