.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-div {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  max-width: 100%; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.carousel-div::-webkit-scrollbar { 
  display: none; 
}

.carousel-div img {
  height: 150px;
  border-radius: 6px;
}

.arrow {
  background: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.arrow:hover {
  background: #444;
}
