.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background: #202625;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  color: white;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal p {
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.btn {
  background: #D9AF28;
  color: white;
  padding: .7rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.2s ease-in;
}

.btn:hover {
  opacity: .8;
}

.modal button:hover {
  opacity: .8;
}

.btnSecondary {
  background: #ddd;
  color: #202625;
  padding: .7rem;
  border-radius: 5px;
  cursor: pointer;
}