
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Inter:wght@100..900&display=swap');

.Toastify__toast--error { 
  background: white !important; 
  color: #D64545 !important; 
} 

.Toastify__progress-bar--error { 
  background: #B83232!important; 
  }

.Toastify__toast--success { 
  background: white !important; 
  color: #4CAF50 !important; 
} 

.Toastify__progress-bar--success { 
  background: #3E8E41 !important; 
  }


html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, #202625, #0f1110);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 70px;
}

