
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Inter:wght@100..900&display=swap');

html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, #202625, #0f1110);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  color: #fff;
}

