@font-face { 
  font-family: "Inter"; 
  src: url("/fonts/Inter.woff2") format("woff2"); 
  font-weight: 100 900; font-style: normal; 
}

html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, #202625, #0f1110);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  color: #fff;
}

.brand-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 150px 1fr;
  width: 70vw;
  margin: 0 auto;
  max-width: 500px;

  & > label {
    justify-self: end;
    align-self: center;
  }
}
  & > input:not([type=checkbox], [type=color], [type=radio], [type=range]) {
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    
  }
.full-width {
  grid-column: 1 / -1;
}

.second-column {
  grid-column-start: 2;
}

.auto-width {
  justify-self: start;
}