@font-face { 
  font-family: "Inter"; 
  src: url("/fonts/Inter.woff2") format("woff2"); 
  font-weight: 100 900; font-style: normal; 
}

html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}