.nav{
  display: flex;
  position: sticky;
  position: relative;
  top: 0;
  z-index: 3;
  background-color: #202625;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  color: #ece9d7;
  & input {
    border: none;
    width: 300px;
    font-size: 18px;
    padding: 10px 10px;
    min-width: 20rem;
    max-width: 30rem;
    background: none;
    border-bottom: 2px solid #ece9d7;
    color: inherit;
  }

  & input::placeholder {
    color: inherit;
    opacity: 0.9;
  }

  & input:focus {
    outline: none;
  }

  & a{
    color: inherit;
  }
}

.nav img {
  height: 55px;
  transition: transform 0.3s ease;
}

.menu{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 10px;

  & a {
    text-decoration: none;
  }

}

@media (max-width:920px) {
  .nav {
    padding: 20px 30px;
  }

  .nav input {
    width: 200px;
  }
}

@media (max-width: 650px) {

  .nav {
    padding: 10px 15px;
    flex-wrap: wrap; /* permite SearchForm să cadă jos */
  }

  /* Crop logo fără să-l micșorezi */
  .nav img {
    width: 90px;        /* cât vrei să se vadă */
    height: 55px;
    object-fit: cover;  /* taie restul imaginii */
    object-position: left;
  }

  /* SearchForm mutat pe rândul 2 */
  .searchWrapper {
     order: 3; 
     width: 100%;
     max-width: 400px;
     margin: 0 auto;
     margin-top: 10px; 

  }

  .nav input {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }

}
